{erl_opts, [debug_info]}.

{deps, []}.

{xref_checks, [
               undefined_function_calls,
               undefined_functions,
               locals_not_used,
               exports_not_used,
               deprecated_function_calls,
               deprecated_functions
              ]}.

{xref_ignores, [
                devurand,
                {devurand_svr, start, 1},
                {devurand_svr, stop, 0},
                {devurand_svr, read, 1}
               ]}.

{shell, [
         {config, "config/shell.config"},
         {apps, [devurand]}
        ]}.
